<div class="jumbotron mt-4">
    <h1 class="display">SIREBIPU APP</h1>
    <p class="lead">&nbsp;&nbsp;&nbsp;SIREBIPU-APP, es una aplicacion desarrollada por el personal de la Coordinacion de Tecnologia y Sistema Informatica, del Consejo Legislativo del estado Bolivariano de Cojedes.</p>
    <p class="lead">&nbsp;&nbsp;&nbsp;La cual esta creada bajo los principios del Software Libre "GNU/LINUX", y esta orienta al manejo de los moviminetos de bienes del sector publico. Esta app fue desarrollada con Nodejs y Mongodb.</p>
    <hr class="my-4">
<!--   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quo dolorem omnis asperiores cum doloremque sint molestias iure quia cumque!</p>
   <a href="https://www.nelsondiaze.com" class="btn btn-primary">Nelsondiaze</a>  -->
</div>