<h1>Navigation</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores enim, porro eos aliquam dolorum culpa
    earum aut provident eius reiciendis tempora accusamus? Dolores, distinctio placeat obcaecati natus numquam amet?</p>

<h1>Footer</h1>